.m_wrap{
    width:100%;
    height:400px;
}
.dx{
    width:100%;
    height:100%;
    overflow-x:scroll;
    white-space: nowrap;
}
.xc{
    display:inline-block;
    width:270px;
    height:90%;
    border:1px solid;
    text-align:center;
    margin-bottom:4px;
    margin-left: 10px;
    background: white;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 15px;
    overflow-y: auto;
    
}
.kl_contentEtape {
    position: relative;
    height: 90%;
}

ul.kl_listeEtape {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    min-height: 200px;
}
ul.kl_listeEtape li {
    padding: 10px;
    width: 100%;
    border: 1px solid #999;
    cursor: pointer;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,45,66,.25);
    text-align: left;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    /*z-index: 10000 !important;*/
}

.kl_titreEtape {
    word-wrap: break-word;
    text-align: center;
    display: block;
    word-break: normal;
    font-family: "Rubik", sans-serif;
    font-weight: bolder;
    color: black;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.kl_addEvenentInEtapePipe {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: auto;
}