@media (max-width: 1399px) {
    .no-spin input {
        padding: 0.3rem;
    }
}

.form-inline .form-group .control-label {
    margin-right: 15px;
}

.table_bloc_devis .default-data .tr-ligne-highlight {
    background-color: rgba(51, 51, 51, 0.0784313725490196) !important;
}

table.table_bloc_devis td {
    padding: 0.75rem 0.35rem !important;
    vertical-align: middle !important;
}

table.table_bloc_devis td .form-control {
    padding: .375rem .2rem !important;
}

.note-popover .note-popover-content, .note-toolbar {
    padding: 0px 2px 2px 2px;
    background-color: #e4dcffee;
}

.note-btn-group>.note-btn, .note-btn-group>.note-btn-group {
    background-color: transparent;
}
.note-popover .note-popover-content>.note-btn-group, .note-toolbar>.note-btn-group {
    margin-top: 0px;
}

table.table_bloc_devis td .note-editor.note-frame .note-editing-area .note-editable {
    overflow: hidden;
    line-height: 15px;
}

.input-in-modal {
    height: 32px;
    margin-top: -5px;
}

.note-btn {
    padding: 2px 7px 2px 5px;
    line-height: normal;
    font-size: 12px;
}

.note-btn i {
    font-family: "Rubik", sans-serif;
    font-style: normal !important;
}

.dropdown-menu.show {
    margin: 0;
    padding: 0;
}
.table_bloc_devis .dropdown-item:hover {
    background-color: rgba(47, 23, 197, 0.79) !important;
    color: #fff;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: rgba(47, 23, 197, 0.79) !important;
}


#div_table_catalog {
    width: 98%;
    height: 300px;
    overflow-y: scroll;
    border: 3px solid #f1f1f1;
}

.div_table_selected_produits {
    border: 3px solid #f1f1f1;
}

.selected-tr {
    background-color: #dcedfe !important;
}

.catalog-selected {
    border: 1px solid rgba(0,0,0,.125);
    width: 260px;
    height: 340px;
    overflow-y: scroll;
}

.table_bloc_devis thead th, .table_bloc_devis th {
    border: 1px solid #eee !important;
}

td a.fa-arrows-alt-v {
    cursor: move !important;
}

td.montant_ttc {
    text-align: right;
}

td.montant_ht {
    text-align: right;
}

.table_bloc_devis .dropdown-item:focus, .table_bloc_devis .dropdown-item:hover {
    color: #ffffff;
    background-color: rgba(47, 23, 197, 0.79)
}

.table_bloc_devis .dropdown-toggle::after {
    display: none;
}


/* ---------------------- */
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
}

.table_bloc_devis .dropright .dropdown-toggle::after {
    position: absolute;
    right: 1px;
    margin-top: 7px;
}


.catalog-selected {
    border: 1px solid rgba(0,0,0,.125);
    width: 260px;
    height: 300px;
}


.link-dialog .checkbox label::before {
    display: none;
}

.link-dialog .checkbox {
    padding-left: 0px
}

.link-dialog #sn-checkbox-open-in-new-window {
    cursor: pointer;
    opacity: 1;
    z-index: 1;
    position: relative;
    left: 0px;
    outline: none;
    margin-right: 10px;
}

.link-dialog .note-modal-footer {
    min-height: 60px;
}

tr td.p-0 {
    padding: 0 !important;
}


.block-remise .col-6:first-of-type {
    padding-right: 2px;
}

.block-remise .col-6:last-of-type {
    padding-left: 2px;
}

.order-ico {
    line-height: 1.3;
}

.tr-options{
    cursor: pointer;
} 

table tbody tr input[type=number]::-webkit-outer-spin-button,
table tbody tr input[type=number]::-webkit-inner-spin-button {
    display: none;
}

table tbody tr select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

table tbody tr select::-ms-expand {
  display: none;
}

.no-spin input[type="date"]::-webkit-outer-spin-button,
.no-spin input[type="date"]::-webkit-inner-spin-button,
.no-spin input[type="date"]::-webkit-clear-button
{
    display: none !important;
    -webkit-webkit-appearance: : none !important;
    -moz-webkit-appearance: : none !important;
    -ms-webkit-appearance: : none !important;
    -o-webkit-appearance: : none !important;
    webkit-appearance: : none !important;
    margin:0;
}

.no-spin input[type="date"]::-webkit-datetime-edit, 
.no-spin input[type="date"]::-webkit-calendar-picker-indicator{
    position:absolute;
}
.no-spin input[type="date"]::-webkit-calendar-picker-indicator{
    right: 20px; 
    padding:.439em .34em;
    width: 14px;
    height: 14px;
    line-height: 14px;
}

.ligne-option {
    color: #1a79ce !important;
}

.ligne-option .mce-content-body  * {
    color: #1a79ce !important;
}

.ligne-option #document .mce-content-body {
    color: #1a79ce !important;
}

.ligne-option iframe #document .mce-content-body {
    color: #1a79ce !important;
}

.row-contact {
    margin-top: -15px;
}

.fieldset-contact {
    border: 1px solid #abb3bd;
    padding: 0px 10px 20px 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.legend-fieldset-contact {
    font-size: 17px;
    width: 5cm;
    margin-left: 4px;
    padding-left: 10px
}

.label-civilite::before {
    margin-top: 4px;
}
.label-civilite::after {
    margin-top: 4px;
}

.label-civilite{
    margin-right: 5px;
}

.interne {
    
}

.label-for-abonnement {
    color: #ffffff;
}

.ligne-option input {
    color: #1a79ce !important;
}

.ligne-option select {
    color: #1a79ce !important;
}