.confirmed-payment-section {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    color: #000;
}

.confirmed-payment-section .inner-confirmed-payment-section {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1920px) {

    .confirmed-payment-section .inner-confirmed-payment-section {

        margin-top: -80px;
    }

}

.confirmed-payment-section img {

    width: 100%;

    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */

}

.confirmed-payment-section .top-confirmation-img-wrap {

    text-align: center;
}

.confirmed-payment-section .top-confirmation-img-wrap img {

    /* width: 60%; */

    width: 60.5%;
}

.confirmed-payment-section .payment-confirmation-info-wrap {

    width: 100%;
    text-align: center;

    font-weight: 500;

    font-size: 15px;

    margin: 40px 0 30px 0;
}

.confirmed-payment-section .payment-confirmation-info-wrap .selfizee-team-text {

    margin-top: 15px;
}

.confirmed-payment-section .payment-selfizee-signation-wrap {

    /* margin-bottom: 50px; */

    margin-bottom: 20px;
}


@media screen and (max-width: 800px) {

    .confirmed-payment-section .top-confirmation-img-wrap img {

        width: 100%;
    }

}








