.note {
    color: #f26262;
    border: 1px solid;
}

.avec-devise::after {
    content: " €";
}

.ligne-option {
    color: #1a79ce !important;
}

table.table-reglement tbody tr.noborder td{
    padding: 0.25rem;
    border: none!important;
}

.object-pdf {
    width: 100%;
    border: 0;
    height: 800px;
    scrollbar-width: thin;
    scrollbar-color: #90A4AE #fff;
}

.liste-status {
    margin-top: 10px;
}

.reglement-row {
    margin-top: -20px
}

.show-list-status {
    cursor: pointer;
}
