
#menu-tab {
	/*background: white;*/
    font-family: 'trebuchet ms', geneva; 
	font-size: 11pt;
	color:black;
}
	
#menu-tab a {
        color: grey;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        font-variant: normal;
}
#menu-tab a:hover{
        color: green;
}
	
/*--------------Dimensions tableau--------------*/

#page-wrap {
        width: 100%; 
        margin: 10px auto;

}
	
/*--------------Onglets--------------*/

.tabs {
      position: relative;   
      min-height: 500px; /* This part sucks */
      clear: both;
      margin: 25px 0;
}
.tab {
     float: left;
}
.tab .tab-label {
      //background: rgba(170, 185, 185, 0.97);
      background: rgb(73, 172, 144);
      padding: 10px; 
      border: 1px solid #ccc; 
      margin: -10px 2px 0px 5px;
      left: 1px; 
      border-radius: 10px 10px 0px 0px;
      box-shadow: 3px -3px 6px rgba(0, 0, 0, 0.71);
}
.tab [type=radio] {
      display: none;   
    }
	
/*--------------Contenu article onglet--------------*/
.content {
      position: absolute;
      top: 28px;
      left: 0;
      background: white;
      right: 0;
      bottom: 0;
      padding: 20px;
      border: 1px solid #ccc; 
      border-radius: 0px 10px 10px 10px;
      overflow: hidden;
	  overflow-y: auto;
	  margin-bottom: -20px;
}
.content > * {
      opacity: 0;
      
      -webkit-transform: translate3d(0, 0, 0);
    
      -webkit-transform: translateX(-100%);
      -moz-transform:    translateX(-100%);
      -ms-transform:     translateX(-100%);
      -o-transform:      translateX(-100%);
      
      -webkit-transition: all 0.6s ease;
      -moz-transition:    all 0.6s ease;
      -ms-transition:     all 0.6s ease;
      -o-transition:      all 0.6s ease;
}
	
/*-------------Onglets actifs--------------*/

[type=radio]:checked ~ .tab-label {
      background: white;
      border-bottom: 1px solid white;
      z-index: 2;
}
[type=radio]:checked ~ .tab-label ~ .content {
      z-index: 1;
}
[type=radio]:checked ~ .tab-label ~ .content > * {
      opacity: 1;
      
      -webkit-transform: translateX(0);
      -moz-transform:    translateX(0);
      -ms-transform:     translateX(0);
      -o-transform:      translateX(0);
    }
/*--------------Images--------------*/

.content {
        border:4px solid white;
        -webkit-transition: all 0.6s ease;
        -moz-transition:    all 0.6s ease;
        -ms-transition:     all 0.6s ease;
        -o-transition:      all 0.6s ease;
}
	
.content img:hover {
        opacity: 0.8;
        -webkit-transform: rotate(7deg);
        -moz-transform:    translateX(0);
        -ms-transform:     translateX(0);
        -o-transform:      translateX(0);

          -webkit-transition: all 0.6s ease;
        -moz-transition:    all 0.6s ease;
        -ms-transition:     all 0.6s ease;
        -o-transition:      all 0.6s ease;
}

.legende {
    display: flex;
}

.legende-items {
    margin-right: 40px;
}

.tab-pane {
    padding-top: 15px;
}

.mini-dash{
    color: #000 !important;
}

.mini-dash:hover {
    color:#0062cc !important;
}

.show-filter {
    color: #9eabc0;
}

.show-filter:hover {
    cursor: pointer;
    color: #9eabc0;
}

.container-bornes-actions .dropdown-toggle::after {
    display: none;
}

.container-bornes-actions .dropdown-menu {
    padding: 0;
}


.dropdown .btn {
  color: #ffffff;
}

.loader-borne {
    margin-top: 35px!important;
    margin-right: -10px!important;
    margin-left: -15px!important;
}