.form-group .dropdown-toggle {
    background-color: #fff!important;
    border: 1px solid #ced4da!important;
}

.bs-actionsbox, .bs-donebutton, .bs-searchbox {
    padding-bottom: 0.7em;
}

.asLabel {
    font-weight: 400;
    display: inline-block;
    margin-bottom: .5rem;
}

h1.cusomized-h1 {
    font-size: 28px;
    font-weight: 500;
}

            
.form-group .bootstrap-select.btn-group.disabled, .bootstrap-select.btn-group>.disabled {
    background-color: #e8e8e8;
}

.table thead tr:not(.d-none) {
    border-bottom: 0 !important;
}