@page{
    color: black;
    width: 100%;
    height: 100%;
    margin: 20px;
}

main {
    margin: 20px;
}


footer {
    position: fixed; 
    bottom: -5px; 
    left: 0px; 
    right: 0px;
    height: 50px; 
}

.table{
    border-collapse:collapse !important
}

.table td,.table th{
    background-color:#fff !important
}

header {
    position: fixed;
    top: 5px;
    left: 0px;
    right: 0px;
}

.img-fond {
    position: fixed;
    left: -10px;
    top: -130px;
    right: -10px;
    bottom: -20px;
    background-color: white;
    text-align: center;
    z-index: -10000;
}

.header-text {
   position: fixed;
   height: 50px;
   top: -0.5cm;
   left: 0;
   right: 0;
   font-size: 20px;
   margin-left: 0.6cm;
   margin-left: 0.6cm;
}

.text-borne {
    font-size: 25px!important;
    font-weight: bold;
}

.footer-text {
   color: black;
   color: #b5b5b5;
   margin-top: 0.6cm;
   text-align: center;
   font-size: 11px;
}

.card{
    z-index: 10000;
    font-size: 14px;  
}

.pdf-table-0 {
    border-collapse: collapse;
    width: 100%;
    border: 1.5px solid white;
}

td p {
   display: block;
   margin: 2px 0;
}

.pdf-table-0 tr {
    page-break-before: avoid;
    page-break-inside: auto!important;
}

.pdf-table-0 td {
    padding-top: 4px;
    padding-bottom: 7px;
    border-top: 1px solid #000;
    font-size: 14px !important;  
    font-family: Arial, Helvetica, sans-serif !important;
}

.table td, .table th {
    padding: 10px 8px;
}

.pdf-table-0 thead th, .table-header td, .pdf-table-0 td, .table-note-total td, .pdf-table-2 td, .condition-paiem p  {
    font-size: 12px !important;
    vertical-align: top;
}


.note{
    padding: 2px 7px;
    border: 1px #000 solid;
    font-size: 13.5px !important;
}