.card.block-commentaire {
    background: #fff7dd;
    border-color: #fff1c9;
    box-shadow: 0 0.1875rem 0.375rem rgba(33, 37, 41, 0.05);
}

.block-commentaire .header h6{
    font-weight: 600
}

.block-commentaire .header #opt-com {
    cursor: pointer;
    width: 30px;
    display: inline-block;
    text-align: center
}