input[type=text] {
  border: none;
  border-bottom: 2px solid #3333ff;
}

input[type=number] {
  border: none;
  border-bottom: 2px solid #3333ff;
}

.suffix {
    margin: 10px;
    font-size: 1.175em;
}