.popup-container {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    /* z-index: 2; */
    z-index: 60;

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-clip-path: circle(0);
    clip-path: circle(0);
    opacity: 0;
    pointer-events: none;

    transition: all 0.3s;
}

.popup-container .outer-popup-container {

    position: relative;
    top: -100%;

    overflow: hidden;

    background-color: #fff;

    border-radius: 4px;

    transition: all 0.3s;
}

.popup-container.display {

    -webkit-clip-path: initial;
    clip-path: initial;
    opacity: 1;
    pointer-events: auto;
}

.popup-container.display .outer-popup-container {

    top: 0;
}

.popup-close-wrap {

    position: absolute;

    /* right: 7px;
    top: 6px; */

    /* right: 10px;
    top: 9px; */

    /* right: 12px;
    top: 11px; */

    right: 12.5px;
    top: 10.5px;

    line-height: 0;

    border-radius: 50%;

    z-index: 1;

    background-color: #fff;
}

.popup-close-wrap svg {

    fill: #000;

    width: 21px;
    min-width: 21px;
    height: 21px;
    min-height: 21px;

    transition: all 0.3s;
}

.popup-close-wrap svg:hover {

    cursor: pointer;

    fill: #fd0154;

}

.popup-container .inner-popup-container {

    overflow: hidden;
    overflow-y: auto;
}
